PORT=4433
NODE_ENV=development

VITE_SUPABASE_URL=https://qwmguucqqasysznkvizs.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9...
SUPABASE_SERVICE_ROLE_KEY=<tu-service-role-key>
SUPABASE_DB_URL=<tu-database-url>

DISCORD_CLIENT_ID=<client-id-de-discord>
DISCORD_CLIENT_SECRET=<client-secret-de-discord>
DISCORD_REDIRECT_URI=http://localhost:4433/auth/discord/callback

SESSION_SECRET=secretosecretal
